html,
body {
	font-family: sans-serif;
}

.boardSize {
    width: 250px;
}

.boardSize__create {
    color:#ffffff;
	box-shadow:inset 0px 2px 0px 0px #54a3f7;
	text-shadow:0px 2px 0px #154682;
}

.boardSize__create--blue{
	background-color:#007dc1;
}


.drawArea__table{
	/*border-collapse: separate;*/
	/*border-spacing: 5px;*/
}

.drawArea__table__cell {
	background-color: #CCC;
    text-align: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 0.5rem;
} 


.drawArea__table__cell:hover {
    background-color: #AAA;
}

.drawArea__table__cell--end{
	background-color:#E67518;
}

.drawArea__table__cell--end:hover{
	background-color:#E67518;
}

.drawArea__table__cell--obstacle{
	background-color:#1C2833;
}

.drawArea__table__cell--obstacle:hover{
	background-color:#1C2833;
}

.drawArea__table__cell--processed{
	background-color:#777777;
}

.drawArea__table__cell--processed:hover{
	background-color:#777777;
}

.drawArea__table__cell--route{
	background-color:#52BE80 !important;
}

.drawArea__table__cell--route:hover{
	background-color:#52BE80 !important;
}

.execute__button{
    width: 250px;
    border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	padding:2px 12px;
	text-decoration:none;
}

.execute__button--blue{
	color:#ffffff;
	background-color:#007dc1;
	box-shadow:inset 0px 2px 0px 0px #54a3f7;
	text-shadow:0px 2px 0px #154682;
}

.execute__button:hover {
	background-color:#0061a7;
}

.execute__button:active {
	position:relative;
	top:1px;
}

.execute__button:disabled{
    background-color:#CCC;
    box-shadow:inset 0px 2px 0px 0px #777;
	color: #333;
	text-shadow:0px 1px 0px #999;
	border:1px solid #333333;
}

.execute__button--hidden{
	display: none;
}
